div.ui-grid-pager-panel(role="contentinfo", ui-grid-pager, ng-show="grid.options.enablePaginationControls")
    div.grid-pager-group
        span.grid-pager-label(ng-show="grid.options.totalItems > 0", translate)
            | Showing {{ showingLow }} - {{ showingHigh }} of {{ grid.options.totalItems }}
    div.grid-pager-group(role="navigation")
        div.grid-pager-navigation(role="menubar")
            button.ui-grid-pager-first.btn-pager(type="button",
                                                 role="menuitem",
                                                 ui-grid-one-bind-title="aria.pageToFirst",
                                                 ui-grid-one-bind-aria-label="aria.pageToFirst",
                                                 ng-click="pageFirstPageClick()",
                                                 ng-disabled="cantPageBackward()")
                i.icon.icon-only.icon-step-backward
            button.ui-grid-pager-previous.btn-pager(type="button",
                                                    role="menuitem",
                                                    ui-grid-one-bind-title="aria.pageBack",
                                                    ui-grid-one-bind-aria-label="aria.pageBack",
                                                    ng-click="pagePreviousPageClick()",
                                                    ng-disabled="cantPageBackward()")
                i.icon.icon-only.icon-backward
            button.ui-grid-pager-next.btn-pager(type="button",
                                                role="menuitem",
                                                ui-grid-one-bind-title="aria.pageForward",
                                                ui-grid-one-bind-aria-label="aria.pageForward",
                                                ng-click="pageNextPageClick()",
                                                ng-disabled="cantPageForward()")
                i.icon.icon-only.icon-forward
            button.ui-grid-pager-last.btn-pager(type="button",
                                                role="menuitem",
                                                ui-grid-one-bind-title="aria.pageToLast",
                                                ui-grid-one-bind-aria-label="aria.pageToLast",
                                                ng-click="pageLastPageClick()",
                                                ng-disabled="cantPageToLast()")
                i.icon.icon-only.icon-step-forward
        div.grid-pager-group.grid-pager-goto
            span.ui-grid-pager-label(translate)
                | Go to page
            input.ui-grid-pager-control-input(type="number",
                                              ui-grid-one-bind-title="aria.pageSelected",
                                              ui-grid-one-bind-aria-label="aria.pageSelected",
                                              ng-model="grid.options.paginationCurrentPage",
                                              min="1",
                                              max="{{ paginationApi.getTotalPages() }}",
                                              required)
            span.ui-grid-pager-label(translate)
                | of {{ paginationApi.getTotalPages() }}
        div.grid-pager-group.grid-pager-row-count(ng-if="grid.options.paginationPageSizes.length > 1")
            span.grid-pager-label(translate)
                | Showing
            select(ui-grid-one-bind-aria-labelledby-grid="'items-per-page-label'",
                    ng-model="grid.options.paginationPageSize",
                    ng-options="o as o for o in grid.options.paginationPageSizes",
                    ng-class="ui-grid-pager-size-selector")
            span.grid-pager-label(translate)
                | per page
        span.ui-grid-pager-row-count-label(ng-if="grid.options.paginationPageSizes.length <= 1")
            | {{ grid.options.paginationPageSize }} {{ sizesLabel }}
