link(rel="stylesheet", src="components/patterns/patterns.css")
script(type="text/javascript")
    |   //<![CDATA[
    |   if(document.createStyleSheet) {
    |       document.createStyleSheet('http://0.0.0.0:8080//components/patterns/patterns.css');
    |   }
    |   else {
    |   var styles = "@import url('http://0.0.0.0:8080//components/patterns/patterns.css');";
    |   var newSS=document.createElement('link');
    |   newSS.rel='stylesheet';
    |   newSS.href='data:text/css,'+escape(styles);
    |   document.getElementsByTagName("head")[0].appendChild(newSS);
    |   }
    | //]]>
div.row-fluid
    div.tabbable.tabs-left
        ul.col-md-1.vertical-nav.secondary-nav
            li(ng-repeat="category in patterns")
                a.list-item-title(href=""
                    data-toggle="category.slug"
                    data-target="category.slug"
                    ng-class="{'btn-toggle-details': !isActive, 'btn-toggle-details btn-collapse': isActive}"
                    class="btn-toggle-details"
                    ng-init="isActive = true"
                    ng-click="isActive = !isActive")
                    | {{ category.name }}
                ul.vertical-nav(ng-repeat="pattern in category.children", id="category.slug" uib-collapse="!isActive" class="rbm-content-details collapse")
                    li(ng-class="{ 'active' : pattern.active === true }")
                        a(ng-click="showTab($parent.$index, $index)")
                            | {{ pattern.name }}
        div.tab-content.col-md-11.col-md-offset-1
            //- p {{ patterns | json }}
            div.tabs-hidden
                uib-tabset(class="patternNav")
                    uib-tab(ng-repeat="category in patterns",
                        ng-attr-id="{{ category.slug }}",
                        active="category.active")
                        uib-tabset(style="background-color: #e9e9e9")
                            uib-tab(ng-repeat="pattern in category.children",
                                ng-attr-id="{{ pattern.name }}",
                                active="pattern.active")

                                div(id="{{ pattern.name | lowercase }}")
                                    div.tab-pane.fade.in(patterns="pattern", src="pattern.path", source="source")

